<h1 mat-dialog-title>Añadir categoría</h1>
<div mat-dialog-content class="dialog-body">
    <mat-form-field class="full-width" subscriptSizing="dynamic">
        <mat-label>Nombre de la categoría</mat-label>
        <input matInput [(ngModel)]="name" (keydown.enter)="submit()" autofocus>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="submit()">Añadir</button>
</mat-dialog-actions>
